:root {
    --bg-red: #8b2e1a;
    --frame-color: #d66545;
    --hero: #cfc086;
    --list: #cd4747;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a, a:visited {
    text-decoration: none;
}

#window {
    background-color: var(--bg-red);
    width: 405px;
    height: 770px;
    padding: 6px 10px 6px 10px;
    margin: 100px;
    box-sizing: border-box;
}

#frame {
    border: 1px solid var(--bg-red);
    border-color: var(--frame-color);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#hero {
    color: var(--hero);
    font-size: 16px;
    margin-top: 25px;
    margin-left: 16px;
}

#mars-image {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 215px;
}

ul {
    color: #dd5633;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 10px;
    list-style: none;
    padding-left: 0;
    color:#d3ac76;
}

li::before {
    content: "•";
    margin-right: 5px;
}

#orange-bar {
    background-color: var(--frame-color);
    width: 92.5%;
    margin: 10px auto;
    padding: 2px 0 4px 5px;  

    color: #e4b97d;
    font-size: 12px;
    font-weight: bold;
}

#video {
    width: 92.5%;
    margin: -5px auto 10px auto;

    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

#input {
    display: flex;
    flex-direction: column;
}

#name_span {

    margin-left: 0.8125rem;
    font-size: 10px;
    color:#d3ac76;
}

#name_input {

    width: 93%;
    align-self: center;
    font-size: 10px;
}

#birthdate_span {

    margin-left: 0.8125rem;
    font-size: 10px;
    color:#d3ac76;
    margin-top: 0.33rem;
}

#birthdate_input {

    width: 93%;
    align-self: center;
    font-size: 10px;
}

#destination_span {

    margin-left: 0.8125rem;
    font-size: 10px;
    color:#d3ac76;
    margin-top: 0.33rem;
}


#destinations {
    width: 50%;
    margin-left: 13px;
}

#return {
    margin-left: 17px;
    margin-top: 0.33rem;
    margin-right: auto;
}

#return_checkbox_span {
    color: #d3ac76;
    font-size: 10px;
    display: inline-block;
    transform: translateY(-0.75px);
}

#travel_button {
    width: 92.5%;
    display: block;
    margin-left: 13px;
    padding: 6px 0;
    font-size: 8px;
    background-color: #c8c58b;
    border: none;
    
}

#contact_div {
    margin-top: -2px;
    margin-left: 20px;
}

#contact {
    color: #d3ac76;
    font-size: 10px;

}

